@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: #fff;
    font-size: 13px!important;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #111;
}
img{
    max-width: 100%;
}